[run]
branch = True
source = .
omit =
    .tox/*
    /tmp*
    setup.py
    tests/util/*

    # These are solely output plugins, and make it hard to really test
    # without mocking the world
    detect_secrets_server/hooks/*

[report]
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    ^if __name__ == ['"]__main__['"]:$

    # Need to redefine this, as per documentation
    pragma: no cover
